@using DAOLayer

<nav class="main-custom-header navbar navbar-default @(ViewBag.CustomHeaderClass == null ? "navbar-fixed-top" : ViewBag.CustomHeaderClass) mega navbar-trans navbar-trans-dark trans-helper">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Logo -->
            <a class="navbar-brand" href="index.html">
                <img src="/Content/assets/images/logo.png" alt="MY Ventures">
            </a>
        </div><!-- / .navbar-header -->
        <!-- Navbar Links -->
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav main-navbar-nav navbar-right">
                <!-- Home -->

                <li>
                    <a href="/">
                        <i class="fa fa-home fa-2x"></i>
                    </a>
                </li>
                <li class="hide">
                    <a href="/Home/About">
                        About
                    </a>
                </li>
                <!-- About -->
                <li class="dropdown mega-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                    <ul class="dropdown-menu">
                        <div class="row">
                            <!-- Multi Page -->
                            <div class="col-md-4">

                                <div class="col-md-10">
                                    <li>
                                        <a href="@Url.Action("ceo-message","About")" >
                                            CEO Message
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="/Home/Team" >
                                            Management team
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="@Url.Action("History","About")" >
                                            History
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                </div>
                            </div>
                            <div class="col-md-4 mb-sm-30 about-box" style="border-left:1px solid; text-shadow: 2px 2px 1px #222;">
                                <a href="/Home/About" class="post-title">
                                    <h4>
                                        About MY Properties
                                    </h4>
                                </a>
                                <!-- Blurb -->
                                <p>
                                    @(SiteMetaDAO.getMeta("about_small").MetaText ?? "")
                                </p>
                                <!-- Link -->
                                <a href="/Home/About" class="btn btn-small learn-more-btn-header">Learn More</a>
                            </div>
                            <!-- Onepage -->
                            <div class="col-md-4 mb-sm-30">
                                <div class="img-wrapper">
                                    <img src="/Content/images/aboutUsHeader.jpg"
                                         alt="Blog Post 1" class="aboutUsHeader">
                                </div>
                            </div>
                        </div><!-- / .row -->
                    </ul><!-- / .dropdown-menu -->
                </li>
                <li>
                    <a href="/Homes">
                        MY Homes
                    </a>
                </li>
                <li>
                    <a href="/Plots">
                        MY Plots
                    </a>
                </li>
                <li>
                    <a href="/Lands">
                        MY Lands
                    </a>
                </li>
                <li>
                    <a href="/Maps">
                        MY Maps
                    </a>
                </li>
                <li>
                    <a href="/Downloads">
                        Downloads
                    </a>
                </li>
                <!-- Search -->

                <li>
                    <a href="#">
                        <i class="fa fa-search fa-2x"></i>
                    </a>
                </li>
                <!-- / About -->
            </ul><!-- / .nav .navbar-nav -->
        </div><!--/.navbar-collapse -->
    </div><!-- / .container -->
</nav><!-- / .navbar -->
