<!-- ========== Feature - Small Icons ========== -->
<section class="container section ft-x">
    <header class="sec-heading">
        <h2>Why chose us</h2>
        <span class="subheading">
            <b>Growing Together</b> - Our Motivation &amp; <br />
            <b>Achieving Excellence</b> – Our Aim

        </span>
    </header>
    @*<style>
        .fa-MY:before {
            content : "MY"
        }
        .fa-MY {
            padding: 24px 15px !important;
            color: red !important;
            font-family: inherit;
        }
    </style>*@
    <div class="row ws-s">
        <div class="col-md-6 ft-item">
            <!-- Item 1 -->
            <div class="col-md-12 no-gap ws-s ft-item ft-circle-frame">
                @*<i class="fa fa-MY"></i>*@<i class="fas fa-check"></i>
                <h5>Portfolio / Assets Management</h5>
                <p>
                    Growing Together - Helping to Increase Clients Wealth
                </p>
            </div><!-- / .ft-item -->
            <!-- Item 4 -->
            <div class="col-md-12 no-gap ws-s ft-item ft-circle-frame">
                @*<i class="fa fa-MY"></i>*@<i class="fas fa-check"></i>
                <h5>
                    Project Marketing & Management
                </h5>
                <p>
                    Managing Assets and Projects Efficiently
                </p>
            </div><!-- / .ft-item -->
        </div>

        <div class="col-md-6 ft-item">
            <!-- Item 2 -->
            <div class="col-md-12 no-gap ws-s ft-item ft-circle-frame">
                @*<i class="fa fa-MY"></i>*@<i class="fas fa-check"></i>
                <h5>Real Estate Brokerage</h5>
                <p>
                    Rational and Timely Decisions Leads to Smart Investments
                </p>
            </div><!-- / .ft-item -->
            <!-- Item 5 -->
            <div class="col-md-12 no-gap ws-s ft-item ft-circle-frame">
                @*<i class="fa fa-MY"></i>*@<i class="fas fa-check"></i>
                <h5>Real Estate Consultancy</h5>
                <p>
                    We are Your Expert Property Advisers
                </p>
            </div><!-- / .ft-item -->
        </div>

        <div class="col-md-6 col-md-offset-3 ft-item">
            <!-- Item 3 -->
            <div class="col-md-12 no-gap ws-s ft-item ft-circle-frame">
                @*<i class="fa fa-MY"></i>*@<i class="fas fa-check"></i>
                <h5>Construction Management</h5>
                <p>
                    Concept to Creation with Perfection
                </p>
            </div><!-- / .ft-item -->
        </div>
    </div><!-- / .row -->
</section><!-- / .container .ft-frames -->
