<div class="gray-bg">
    <section class="container section team-3col">

        <div class="row">
            <header class="sec-heading">
                <h2>Meet the team</h2>
                <span class="subheading">We are creative professionals</span>
            </header>
            <!-- Member 1 -->
            <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="t-item">
                    <!-- Image -->
                    <div class="t-image">
                        <img src="/Content/images/team1.jpg" alt="Team Member" class="img-responsive">
                        <div class="t-description">
                            <div class="content-wrapper">
                                <h4 class="h-alt">Hello!</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Info -->
                    <div class="t-info">
                        <h4 class="t-name">Philip Lee</h4>
                        <span class="t-role">CEO &amp; Founder</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div><!-- / .t-item -->
            </div><!-- / .col-lg-3 -->            <!-- Member 1 -->
            <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="t-item">
                    <!-- Image -->
                    <div class="t-image">
                        <img src="/Content/images/team3.jpg" alt="Team Member" class="img-responsive">
                        <div class="t-description">
                            <div class="content-wrapper">
                                <h4 class="h-alt">Hello!</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Info -->
                    <div class="t-info">
                        <h4 class="t-name">Philip Lee</h4>
                        <span class="t-role">CEO &amp; Founder</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div><!-- / .t-item -->
            </div><!-- / .col-lg-3 -->            <!-- Member 1 -->
            <div class="col-lg-4 col-md-6 mb-sm-50">
                <div class="t-item">
                    <!-- Image -->
                    <div class="t-image">
                        <img src="/Content/images/team2.jpg" alt="Team Member" class="img-responsive">
                        <div class="t-description">
                            <div class="content-wrapper">
                                <h4 class="h-alt">Hello!</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Info -->
                    <div class="t-info">
                        <h4 class="t-name">Philip Lee</h4>
                        <span class="t-role">CEO &amp; Founder</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div><!-- / .t-item -->
            </div><!-- / .col-lg-3 -->

        </div><!-- / .row -->
    </section><!-- / .contianer -->
</div>
