.main-custom-header.navbar .navbar-nav li.dropdown ul li a {
     color: #eee !important;
     font-weight: bold;
 }

.main-custom-header.navbar:not(.navbar-trans) .navbar-nav > li > a {
    color: #eee !important;
    font-weight: bold;
}
    
.main-custom-header ul.main-navbar-nav > li > a {
    padding:15px !important;
}
    
.main-custom-header .about-box {
    color: #eee !important;
        
}
.learn-more-btn-header:hover{
    background:rgba(255, 0, 0, 0.59) !important;
}
.main-custom-header .about-box h4 {
    color: #eee !important;
    font-weight: bold;
        
}
.main-custom-header .about-box a.btn {
    color: #eee !important;
    background: #777;
        
}
    
.main-custom-header.navbar.navbar-trans .navbar-nav > li > a {
    color: #EEE !important;
    font-weight: bold;
}

.main-custom-header.navbar .navbar-nav .dropdown .dropdown-menu {
    background: linear-gradient(to left, rgba(56, 58, 56, 0.39), rgba(56, 58, 56, 0.89));
    border:0;
}

.main-custom-header.navbar .navbar-nav .dropdown .dropdown-menu li a:hover {
    border-left-color: #ff0000 !important;
    border-left-color: rgba(255, 0, 0, 0.80) !important;
}

.main-custom-header.navbar {
    background: #3a383a !important;
    background: rgba(58, 56, 58, 0.5) !important;
    border:0;
}

.main-custom-header.navbar-trans {
    background: transparent !important;
    border-bottom: 0;
}
    
.main-custom-header.navbar.navbar-trans .navbar-nav > li > a:hover,
.main-custom-header .navbar-nav > li > a:hover {
    color: #FF3C3C !important;
    zoom:110% !important;
}
.main_landing .cd-words-wrapper {
    width: 100% !important;
    text-align: left !important;
}

.main_landing .cd-words-wrapper b{
    font-size: 30% !important;
    letter-spacing: 5px;
}

.main_landing .cd-words-wrapper b > p{
    font-weight: 100;
    padding-top: 15px;
    letter-spacing: 4px;
    font-size: 20px;
}
.main_landing .blog-post .bp-content {
    padding: 40px 20px 50px 20px !important;
}
.main_landing .featured_projects{
    background: #efefef;
    padding-top: 4%;
}
.main_landing .featured_projects .featured_project .featured_project_image img{
    width:100%;
}.main_landing .featured_projects .featured_project .map-boxed{
     height:18vw;margin-bottom:1vw;
 }